@font-face {
    font-family: xingkai;
    src: url('./font/xingkai.ttf') ;
}

.home_text{
    display: block;
    line-height: 34px;
    font-size: 20px;
    // font-weight: bold;
    font-family: xingkai;
}
